body {
  font-family: Arial;
  background: #f4f4f4;
}

.container {
  width: 350px;
  margin: auto;
  background: white;
  padding: 20px;
  margin-top: 50px;
  border-radius: 10px;
}

#title {
  text-align: center;
}

.input-group {
  margin-bottom: 10px;
}

.input-group label {
  display: block;
}

.input-group input,
.input-group select {
  width: 100%;
  padding: 5px;
}

.btn {
  width: 100%;
  padding: 10px;
  background: green;
  color: white;
  border: none;
}

.expense-list {
  margin-top: 20px;
}